*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  border:0;
}

nav{
  background-color:#2d2825;
  color:#517d59;
  height:80px;
  font-size:28px;
  text-align: center;
  line-height: 80px;
}

main{
  margin:20px;
  border-bottom:5px solid black;
  height:500px;
  display:flex;
  justify-content: center;
}

footer{
  font-size: 12px;
  text-align: center;
}

footer button{
  padding:10px;
  margin-bottom:5px;
  background-color: #517d59;
  color:white;
  cursor: pointer;
}